# Database
ATLASDB_URL=mongodb://localhost:27017/wanderlust

# JWT
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_api_key
CLOUD_API_SECRET=your_api_secret

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Port
PORT=8080