@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* star rating CSS ok hai */
.star-rating {
  display: flex;
  align-items: center;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  margin: 0 2px;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ffc107;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}
